<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/newEducation" *ngIf="isLogged">Agregar</button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Education of education">
                    <td>
                        <h2>{{Education.nameEducation}}</h2>
                    </td>
                    <td>{{Education.descriptionEducation}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" routerLink="/editEducation/{{Education.id}}">
                            <i class="bi bi-pencil-fill"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="deleteEducation(Education.id)">
                            <i class="bi bi-pencil-fill"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
