<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>
                <h3>(1 Año)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam fugiat iste perferendis 
                fugit quas, iure ratione quisquam sunt, ab odio officia, quod id. Inventore assumenda 
                reiciendis dicta expedita cupiditate temporibus.
            </p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1>
                <h3>(1 Año)</h3>
            </li>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam fugiat iste perferendis 
                fugit quas, iure ratione quisquam sunt, ab odio officia, quod id. Inventore assumenda 
                reiciendis dicta expedita cupiditate temporibus.
            </p>
        </ul>
    </div>
</div>
