<div class="row">
    <h2>Habilidades</h2>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'HTML'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'CSS'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'JavaScript'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'TypeScript'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'SQL'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-xm-12 col-sm-6 col-md-4 col-lg-4" >
      <circle-progress class="row"
      [percent]="85"
      [radius]="80"
      [title]="'Inglés'"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#009bc2'"
      [innerStrokeWidth]="0"
      [animation]="true"
      [animationDuration]="300"
    ></circle-progress>
    </div>
  
  </div>
  