<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 parte1">
            <h1>Gestión Biblioteca</h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                 Omnis quam dignissimos laborum ad optio esse reprehenderit? 
                 Minima, dolores porro. Voluptate consequuntur natus architecto 
                 sunt ullam tenetur sed dolores qui. Aperiam?
            </p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 parte2" display="inline-block">
            <img src="/assets/img/gestionBiblioteca.jpg" class="img-fluid imgProyecto" alt="">
        </div>
    </div>
</div>
