<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="/assets/img/perfil.jpg" alt="Foto de perfil" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">{{person.name}},{{person.lastName}}</p>
        <p>Desarrollador FullStack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h2>Acerca de mi</h2>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi, 
                dolorem! Corporis, quia in. Esse, voluptatibus numquam obcaecati ipsam 
                doloribus enim rerum, sint facere dignissimos facilis atque optio eveniet? 
                Temporibus, doloribus.
            </p>
        </span>
    </div>
</div>