<div class="row">
    <div class="col-lg-2">
        <button type="button" class="btn btn-primary" routerLink="/editAcercaDe/1" *ngIf="isLogged">Editar Persona</button>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="assets/img/perfil.jpg" alt="Foto de perfil" id="fotoPerfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p id="nombre">{{person.name}},{{person.lastName}}</p>
        <p>Desarrollador FullStack Jr</p>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <span>
            <h2>Acerca de mi</h2>
            <p>
                {{person.description}}
            </p>
        </span>
    </div>
</div>