<div class="row">
    <h2>Experiencia laboral</h2>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newExperience" *ngIf="isLogged">Agregar</button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Experience of experience">
                    <td>
                        <h2>{{Experience.nameExperience}}</h2>
                    </td>
                    <td>{{Experience.descriptionExperience}}</td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editExperience/{{Experience.id}}">
                            <i class="bi bi-pencil-fill"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" (click)="deleteExperience(Experience.id)">
                            <i class="bi bi-pencil-fill"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
