<div class="container">
    <div class="row">
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nameExperience">Nombre de Educacion</label>
                    <input type="text" class="form-control" id="nameExperience" name="nameExperience" [(ngModel)]="nameExperience" required>
                    <div class="form-group">
                        <label for="descriptionExperience">Descripcion del estudio</label>
                        <input type="text" class="form-control" id="descriptionExperience" name="descriptionExperience" [(ngModel)]="descriptionExperience" required>
                    </div>
                    <br>
                    <button class="btn btn-primary">
                        Agregar educacion
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>